*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e2e2e2;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
  
    transform-style: preserve-3d;
    perspective: 1000px;
  }
  
  section .book {
    position: relative;
    width: 383px;
    height: 567px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.337);
  
    transform-style: preserve-3d;
    transition: 0.5s;
  
    cursor: pointer;
  }
  
  section .book img {
    position: absolute;
    top: 0;
    left: 0;
  
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  section .book:hover {
    transform: rotateY(30deg);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.268);
  }

  section .book:active {
    transform: rotateY(180deg);
  }

  section .book:before
  {
      content: '';
      position: absolute;
      width: 60px;
      height: 100%;
      transform-origin: left;
      background: url(Images/side1.jpg);
      background-position: center;
      transform: rotateY(90deg);
  }

  section .book:active
  {
      transform: rotateY(180deg);
      box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.138);
  }

  section .book:after
  {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      transform-origin: center; 
      background: url(Images/back1.jpg);
      background-position: center;
      transform: rotateY(180deg) translateZ(60px)
  }


  
